[Desktop Entry]
Name=Apple-Aurora-AbsoluteDark
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@gmail.com
X-KDE-PluginInfo-Name=Apple-Aurora-AbsoluteDark
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
