[Desktop Entry]
Name=Chocula
X-KDE-PluginInfo-Author=Sue Donham
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=susan.donham@pm.me
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Chocula
X-KDE-PluginInfo-Version=1.0
