[Desktop Entry]
Name=ChromeOsKDE
Comment=Plasma theme for miscellaneous global themes of kde, whit similar in appearance to macos
X-KDE-PluginInfo-Author=Zayronxio
X-KDE-PluginInfo-Name=ChromeOsKDE
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true


[ContrastEffect]
enabled=false
contrast=0.3
intensity=1.3
saturation=10


[AdaptiveTransparency]
enabled=true
