[Desktop Entry]
Name=ChromeOsKde.v2
Comment[es]=Un tema oscuro.
Comment=Dark theme.
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@gmail.com
X-KDE-PluginInfo-Name=Zafiro-Nord-V2
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=CC BY-SA 4.0
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[AdaptiveTransparency]
enabled=true
