[Desktop Entry]
Name=deepin-dark
X-KDE-PluginInfo-Author=zayronxio
X-KDE-PluginInfo-Email=zayronxio@hotmail.com
X-KDE-PluginInfo-Name=deepin
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
