[Desktop Entry]
Comment=Plasma theme inspired by the best era of design - Darker Variant
Name=Petrel
X-KDE-PluginInfo-Author=hoff.industries
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=theworldisyours@mailbox.org
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Petrel
X-KDE-PluginInfo-Version=1.0.10
X-KDE-PluginInfo-Website=
X-Plasma-API=5.0+
